{% include header.html %}

    <header class="home-header">
      <div class="container">
        <hgroup>
          <figure>
            <img src="img/fatface.jpg" alt="You should see my other side.">
          </figure>
          <h1>Hey there</h1>
          <p>I'm Josh and I design things.</p>
        </hgroup>
      </div>
    </header>

    <section class="about">
      <article>
        <p>I’m Josh Kennedy and I’m a designer, front-end developer and photographer.</p>
        <p>I’m not (and have never been) a professional soccer player.</p>
        <p>I have a passion for emerging technologies and implementing creative solutions for complex problems. I’ve also been known to wear fake glasses around town to fit in with the locals.</p>
        <p>I enjoy confabulating with people from all over the planet and would be giddy out of my knickers if you would drop me a line.</p>
      </article>
      <aside>
        <ul>
          <li>Stalk me:</li>
          <li><a href="mailto:hello@joshkennedy.me" class="email">Email</a></li>
          <li><a href="https://twitter.com/joshkennedy" class="twitter">Twitter</a></li>
          <li><a href="http://dribbble.com/joshkennedy" class="dribbble">Dribbble</a></li>
          <li><a href="http://github.com/joshkennedy" class="github">Github</a></li>
          <li><a href="http://instagram.com/jshknndy" class="instagram">Instagram</a></li>
        </ul>
      </aside>
    </section>

    <section class="work">
      {% for post in site.categories.work %}
      <article>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      </article>
      {% endfor %}
    </section>

    <hr>

    <section class="blog">
      {% for post in site.categories.writing %}
      <article>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
        <p><small><time>{{ post.date | date: "%B %d, %Y" }}</time></small></p>
        <hr>
      </article>
      {% endfor %}
    </section>

    <footer>
      <div class="container">
        <div class="callout">
          <h2>Interested in working together?</h2>
          <p>I am currently <span>available</span> for work.</p>
          <a href="mailto:hello@joshkennedy.me">Get in touch</a>
        </div>
        <p class="disclaimer">*Disclaimer: I may or may not have 20/20 vision.</p>
      </div>
    </footer>

{% include footer.html %}