{% include header.html %}

    <header class="post-header" style="background-image: url(http://joshkennedy.me/{{page.header_image}})">
      <div class="overlay">
        <hgroup>
          <h1 class="title">{{ page.title }}</h1>
          <p><small><time>{{ page.date | date: "%B %d, %Y" }}</time></small></p>
        </hgroup>
      </div>
    </header>

  <section class="blog-post">
    <article>
      {{ content }}
    </article>
  </section>

  {% if page.comments %}
  <div class="comments">
    <article>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'joshkennedy';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </article>
  </div>
  {% endif %}

{% include footer.html %}