///////////////////////////////////////
// Imports
///////////////////////////////////////

@import "variables",
        "mixins",
        "reset",
        "grid",
        "typography",
        "buttons",
        "layout",
        "syntax";
        //"animate";


///////////////////////////////////////
// Global Styles
///////////////////////////////////////

body {
  background: $white;
}

nav {
  @extend %grid;
  @extend %grid--full;
  padding: $gutter/2 0;
  ul {
    @extend %grid__item;
    list-style: none;
    margin-bottom: 0;
  }
  ul li {
    display: inline;
    font-family: $sans-serif;
    font-size: $font-size-px * .8;
    font-size: $font-size * .8;
    padding: 0 $gutter;
    @include breakpoint(mobile) {
      padding: 0 $gutter/2.2;
    }
  }
}


///////////////////////////////////////
// Media Queries
///////////////////////////////////////

@import "media_queries";


///////////////////////////////////////
// Print Styles
///////////////////////////////////////

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}